<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name_input">Name</label><br>
    <input id="name_input" type="text" name="name">
  </p>

  <button>Create place</button>
</form>

<p><a href="/places">Cancel</a></p>